<nav class="grey darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="purple-text brand-logo" href="#">TVI</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/shop">Shop</a></li>
      <li class="active"><a class="purple-text" href="/about">About</a></li>
      <li><a href="/partners">Partners</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/shop">Shop</a></li>
      <li class="active"><a class="purple-text" href="/about">About</a></li>
      <li><a href="/partners">Partners</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>


<h4 class="center grey darken-4 purple-text" style="margin-top: 0px; padding: 20px; border-top: 1px solid #9c27b0;">About</h4>
<p style="margin: 50px;">My roomate and I realized one day that every vape pen we ever bought totally sucked. Inside of sitting around and complaining, we decided to do something about it. With the little money that we had, we began buying equipment and building prototypes. When we created the product that we wanted, we began selling only on our campus. Thats when things took off. Now we a national phenomenom awaiting orders to build your next vape pen.</p>

<h4 class="center grey darken-4 purple-text" style="margin-top: 0px; padding: 20px;">Metrics</h4>
<h6 class="center grey-text" style="border-bottom: 1px solid #e0e0e0;">Quantity Sold Total</h6>
<h5 class="center">50,000</h5>

<h6 class="center grey-text" style="border-bottom: 1px solid #e0e0e0;">Profit to Date</h6>
<h5 class="center">$546,000</h5>

<h6 class="center grey-text" style="border-bottom: 1px solid #e0e0e0;">Countries</h6>
<h5 class="center">13</h5>

<h6 class="center grey-text" style="border-bottom: 1px solid #e0e0e0;">Platorms</h6>
<h5 class="center">web, mobile, store</h5>

<h4 class="center grey darken-4 purple-text" style="margin-top: 0px; padding: 20px;">Competition</h4>
<h5 class="center">NYVapes</h5>
<h5 class="center">VapeCali</h5>
<h5 class="center">NectorVapes</h5>
<h5 class="center">VapeWorld</h5>

<h4 class="center grey darken-4 purple-text" style="margin-top: 0px; padding: 20px;">FAQ</h4>


<h5 class="center purple-text" style=" padding-left: 60px; text-align: left; border-bottom: 1px solid #9c27b0;">
  Where were you guys founded?
  <span style=" padding-left: 20px; font-size: 15px; color: #212121;">We were founded in California</span>
</h5>

<h5 class="center purple-text" style=" padding-left: 60px; text-align: left; border-bottom: 1px solid #9c27b0;">
  What is the founder's name?
  <span style=" padding-left: 20px; font-size: 15px; color: #212121;">Wellington Vicioso</span>
</h5>

<h5 class="center purple-text" style=" padding-left: 60px; text-align: left; border-bottom: 1px solid #9c27b0;">
  Can I return what I buy?
  <span style=" padding-left: 20px; font-size: 15px; color: #212121;">Of course! There is a 30-day return policy.</span>
</h5>

<h5 class="center purple-text" style=" padding-left: 60px; text-align: left;">
  What if there's a defect?
  <span style=" padding-left: 20px; font-size: 15px; color: #212121;">Then we will replace is free of charge!</span>
</h5>




<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="purple-text">Contact Us</h5>
        <p class="grey-text text-lighten-4">Ask us any questions or check us out on social media.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="purple-text">Social</h5>
        <ul>
          <li><a class="white-text" href="#!">Instagram</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Snapchat</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="purple-text">Direct</h5>
        <ul>
          <li><a class="white-text" href="#!">service@tvi.com</a></li>
          <li><a class="white-text" href="#!">1-800-888-8888</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    All Rights Reserved ®<a class="purple-text text-lighten-3" href="http://materializecss.com">TVI</a>
    </div>
  </div>
</footer>
