
<nav class="grey darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="purple-text brand-logo" href="#">TVI</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/partners">Partners</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a class="purple-text" href="/shop">Shop</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/partners">Partners</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<h3 class="purple-text" style="text-align: center;">CONGRATS! you just purchased a Vape Pen!</h3>
