  <nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" class="purple-text brand-logo" href="#">TVI</a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a class="purple-text" href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/partners">Partners</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li class="active"><a class="purple-text" href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/partners">Partners</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" style="background-color: rgba(0,0,0,.4);" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center purple-text">Tough Vapes Inc.</h1>
        <div class="row center">
          <h5 class="header col s12 grey-text text-lighten-3">World Class Vaping Technology</h5>
        </div>
        <div class="row center">
          <a href="/shop" id="download-button" style="padding-left: 70px; padding-right: 70px;" class="btn-large waves-effect waves-light purple">SHOP</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img style="width: 100%;" src="https://static.pexels.com/photos/338710/pexels-photo-338710.jpeg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center purple-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Premium Quality</h5>

            <p class="light">We deliver the best products in the industry. Our Vape pens are engineered by the smartest and most techy savvy people this country has to offer. Our Vape pens will never blow up in your face.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center purple-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Trusted Brand</h5>

            <p class="light">In the time we have been in business, our company has reached a level of reliabilty unprecedent across the market. This was easy for to achieve since we focus on the customer first. We as a team ensure that we are producing products we can look back and be proud of.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center purple-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Service When You Need It</h5>

            <p class="light">When you make a purcase our service does not stop there. We offer 24 hour support so whenever you need to change your coils or fill up on juice, you can be confident we will be there to allow you to.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 white-text">Quality first. Customers before that.</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img style="width: 100%;" src="https://razlany.files.wordpress.com/2015/07/img_8552.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h4 class="purple-text">Company Bio</h4>
          <p class="left-align light">My roomate and I realized one day that every vape pen we ever bought totally sucked. Inside of sitting around and complaining, we decided to do something about it. With the little money that we had, we began buying equipment and building prototypes. When we created the product that we wanted, we began selling only on our campus. Thats when things took off. Now we a national phenomenom awaiting orders to build your next vape pen.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 white-text">Best in the Business</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://i.ytimg.com/vi/PxvtDGuSJR8/maxresdefault.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="purple-text">Contact Us</h5>
          <p class="grey-text text-lighten-4">Ask us any questions or check us out on social media.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="purple-text">Social</h5>
          <ul>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Snapchat</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="purple-text">Direct</h5>
          <ul>
            <li><a class="white-text" href="#!">service@tvi.com</a></li>
            <li><a class="white-text" href="#!">1-800-888-8888</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      All Rights Reserved ®<a class="purple-text text-lighten-3" href="http://materializecss.com">TVI</a>
      </div>
    </div>
  </footer>
