<nav class="grey darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="purple-text brand-logo" href="#">TVI</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="/about">About</a></li>
      <li class="active"><a class="purple-text" href="/partners">Partners</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="/about">About</a></li>
      <li class="active"><a class="purple-text" href="/partners">Partners</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<h4 class="center grey darken-4 purple-text" style="margin-top: 0px; padding: 20px;">Our Partners</h4>

<div class="row" style="margin: 0 auto; width: 50%;">
  <div class="col s12 m12">
    <div class="card grey darken-3">
      <div class="card-content white-text">
        <span class="card-title center">Google</span>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin: 0 auto; width: 50%;">
  <div class="col s12 m12">
    <div class="card grey darken-3">
      <div class="card-content white-text">
        <span class="card-title center">Microsoft</span>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin: 0 auto; width: 50%;">
  <div class="col s12 m12">
    <div class="card grey darken-3">
      <div class="card-content white-text">
        <span class="card-title center">IBM</span>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin: 0 auto; width: 50%;">
  <div class="col s12 m12">
    <div class="card grey darken-3">
      <div class="card-content white-text">
        <span class="card-title center">US Government</span>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin: 0 auto; width: 50%;">
  <div class="col s12 m12">
    <div class="card grey darken-3">
      <div class="card-content white-text">
        <span class="card-title center">BMCC</span>
      </div>
    </div>
  </div>
</div>


<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="purple-text">Contact Us</h5>
        <p class="grey-text text-lighten-4">Ask us any questions or check us out on social media.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="purple-text">Social</h5>
        <ul>
          <li><a class="white-text" href="#!">Instagram</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Snapchat</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="purple-text">Direct</h5>
        <ul>
          <li><a class="white-text" href="#!">service@tvi.com</a></li>
          <li><a class="white-text" href="#!">1-800-888-8888</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      All Rights Reserved ® <a class="purple-text text-lighten-3" href="http://materializecss.com">TVI</a>
    </div>
  </div>
</footer>
