<nav class="grey darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="purple-text brand-logo" href="#">TVI</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li class="active"><a class="purple-text" href="/shop">Shop</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/partners">Partners</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a class="purple-text" href="/shop">Shop</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/partners">Partners</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div style=" display: flex; flex: 1; flex-wrap: wrap;; justify-content: space-around;">

  <div class="row" style="width: 30%;">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="http://gazettereview.com/wp-content/uploads/2015/12/HERBAL-VAPORIZER.png">
        </div>
        <div class="card-content">
          <p>$30.00</p>
        </div>
        <div class="card-action">
          <a href="/confirm">Buy</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="width: 30%;">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="http://www.legalbuds.com/images/products/categories/oil-wax-herb-vaporizers/vaporizer-dryherbs/terra-herbal.jpg">
        </div>
        <div class="card-content">
          <p>$30.00</p>
        </div>
        <div class="card-action">
          <a href="/confirm">Buy</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="width: 30%;">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="http://cdn.vaporizerwizard.com/wp-content/uploads/2015/11/arizer-air-vaporizer-review.jpg">
        </div>
        <div class="card-content">
          <p>$30.00</p>
        </div>
        <div class="card-action">
          <a href="/confirm">Buy</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="width: 30%;">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="http://d1eeblfhf4ca1b.cloudfront.net/media/catalog/product/cache/6/thumbnail/267x267/9df78eab33525d08d6e5fb8d27136e95/v/2/v210wg_2.jpg">
        </div>
        <div class="card-content">
          <p>$30.00</p>
        </div>
        <div class="card-action">
          <a href="/confirm">Buy</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="width: 30%;">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="https://www.v2.com/images/vaporizers-mega-menu.png">
        </div>
        <div class="card-content">
          <p>$30.00</p>
        </div>
        <div class="card-action">
          <a href="/confirm">Buy</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="width: 30%;">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="http://d1eeblfhf4ca1b.cloudfront.net/media/catalog/product/cache/6/thumbnail/267x267/9df78eab33525d08d6e5fb8d27136e95/v/2/v210asi_2.jpg">
        </div>
        <div class="card-content">
          <p>$30.00</p>
        </div>
        <div class="card-action">
          <a href="/confirm">Buy</a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="purple-text">Contact Us</h5>
        <p class="grey-text text-lighten-4">Ask us any questions or check us out on social media.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="purple-text">Social</h5>
        <ul>
          <li><a class="white-text" href="#!">Instagram</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Snapchat</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="purple-text">Direct</h5>
        <ul>
          <li><a class="white-text" href="#!">service@tvi.com</a></li>
          <li><a class="white-text" href="#!">1-800-888-8888</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    All Rights Reserved ®<a class="purple-text text-lighten-3" href="http://materializecss.com">TVI</a>
    </div>
  </div>
</footer>
